/* Structegra scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Gray */
    --color-neutral-50: 248, 250, 252;
    --color-neutral-100: 241, 245, 249;
    --color-neutral-200: 226, 232, 240;
    --color-neutral-300: 203, 213, 225;
    --color-neutral-400: 148, 163, 184;
    --color-neutral-500: 100, 116, 139;
    --color-neutral-600: 71, 85, 105;
    --color-neutral-700: 51, 65, 85;
    --color-neutral-800: 30, 41, 59;
    --color-neutral-900: 15, 23, 42;
    /* Orange */
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 255, 255, 255;
    --color-primary-200: 251, 238, 230;
    --color-primary-300: 239, 194, 165;
    --color-primary-400: 228, 150, 99;
    --color-primary-500: 214, 106, 37;
    --color-primary-600: 179, 89, 31;
    --color-primary-700: 144, 72, 25;
    --color-primary-800: 110, 54, 19;
    --color-primary-900: 75, 37, 13;
    /* Teal */
    --color-secondary-50: 255, 255, 255;
    --color-secondary-100: 255, 255, 255;
    --color-secondary-200: 200, 245, 243;
    --color-secondary-300: 135, 233, 229;
    --color-secondary-400: 70, 221, 215;
    --color-secondary-500: 33, 182, 176;
    --color-secondary-600: 27, 147, 143;
    --color-secondary-700: 20, 113, 109;
    --color-secondary-800: 14, 78, 76;
    --color-secondary-900: 8, 44, 42;
}