/* Structegra Inverted scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Teal */
    --color-neutral-50: 255, 255, 255;
    --color-neutral-100: 255, 255, 255;
    --color-neutral-200: 200, 245, 243;
    --color-neutral-300: 135, 233, 229;
    --color-neutral-400: 70, 221, 215;
    --color-neutral-500: 33, 182, 176;
    --color-neutral-600: 27, 147, 143;
    --color-neutral-700: 20, 113, 109;
    --color-neutral-800: 14, 78, 76;
    --color-neutral-900: 8, 44, 42;
    /* Orange */
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 255, 255, 255;
    --color-primary-200: 253, 247, 243;
    --color-primary-300: 245, 202, 175;
    --color-primary-400: 236, 158, 108;
    --color-primary-500: 227, 113, 40;
    --color-primary-600: 200, 94, 26;
    --color-primary-700: 164, 77, 21;
    --color-primary-800: 128, 60, 17;
    --color-primary-900: 92, 43, 12;
    /* Dark Teal */
    --color-secondary-50: 208, 249, 255;
    --color-secondary-100: 131, 240, 255;
    --color-secondary-200: 55, 230, 255;
    --color-secondary-300: 0, 204, 233;
    --color-secondary-400: 0, 137, 157;
    --color-secondary-500: 0, 70, 80;
    --color-secondary-600: 0, 34, 39;
    --color-secondary-700: 0, 0, 0;
    --color-secondary-800: 0, 0, 0;
    --color-secondary-900: 0, 0, 0;
}