/* Structegra Optimized scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Teal */
    --color-neutral-50: 255, 255, 255;
    --color-neutral-100: 252, 254, 254;
    --color-neutral-200: 187, 243, 241;
    --color-neutral-300: 122, 231, 227;
    --color-neutral-400: 58, 219, 213;
    --color-neutral-500: 31, 169, 164;
    --color-neutral-600: 25, 135, 131;
    --color-neutral-700: 18, 100, 97;
    --color-neutral-800: 12, 66, 64;
    --color-neutral-900: 6, 31, 30;
    /* Orange */
    --color-primary-50: 255, 255, 255;
    --color-primary-100: 255, 255, 255;
    --color-primary-200: 251, 238, 230;
    --color-primary-300: 239, 194, 165;
    --color-primary-400: 228, 150, 99;
    --color-primary-500: 214, 106, 37;
    --color-primary-600: 179, 89, 31;
    --color-primary-700: 144, 72, 25;
    --color-primary-800: 110, 54, 19;
    --color-primary-900: 75, 37, 13;
    /* Dark Teal */
    --color-secondary-50: 199, 248, 255;
    --color-secondary-100: 122, 238, 255;
    --color-secondary-200: 46, 228, 255;
    --color-secondary-300: 0, 196, 224;
    --color-secondary-400: 0, 129, 148;
    --color-secondary-500: 0, 62, 71;
    --color-secondary-600: 0, 26, 30;
    --color-secondary-700: 0, 0, 0;
    --color-secondary-800: 0, 0, 0;
    --color-secondary-900: 0, 0, 0;
}