<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Structegra Digital Strategy e.U.">
    <meta property="og:site_name" content="Structegra Digital Strategy e.U.">
    <meta property="og:url" content="https://structegra.eu">
    <meta property="og:description" content="Blog and Website of Daniel Wagner and Structegra Digital Strategy e.U. on information technology, enterprise architectury, it strategy & governace, digitalization, compiance, cybersecurity, software engineering, cloud, linux, volunteering at CoderDojo and personal stuff">
    <meta property="og:type" content="website">
    <meta property="og:image" content="favicon.png">

    {% assign time = 0 %}
    {% assign targetname = page.target %}
 
    {% if page.time %}
    {% assign time = page.time %}
    {% endif %}
    
    {% if page.targetname %}
    {% assign targetname = page.targetname %}
    {% endif %}

    {% capture title %}Redirecting to {{ targetname }}{% endcapture %}
    {% if page.targettitle %}
    {% assign title = page.targettitle %}
    {% endif %}
    <meta http-equiv="refresh" content="{{ time }};url={{ page.target }}"/>
    <link rel="canonical" href="{{ page.target }}"/>
    <title>{{ title }}</title>
    <style>
        body {
            font-family: sans-serif;
            max-width: 40em;
            margin: 1em auto;
        }
    </style>
<</head>
<body>
    <h1>{{ title }}</h1>
   
    {% if page.message %}
    <p>{{ page.message }}</p>
    {% else %}
    <p>This document has moved!</p>
    {% endif %}

    <p>Redirecting to <a href="{{ page.target }}">{{ targetname }}</a> in {{ time }} seconds.</p>

</body>
</html>
